body {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("img/images\ \(1\).jpeg") no-repeat center center fixed;
  background-size: cover;
  filter: blur(8px);
  z-index: -1;
}

.error {
  color: red;
  font-size: 0.9em;
}

.container {
  max-width: 350px; 
  margin: 0 auto;
  background: #f9f9f967;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 5px;
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
  width: 100%;
  padding: 8px;
  background: #ffffff7a;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.btn-primary{
  background-color: #007bff3d;
  border-color: #007bff;
  padding: 10px 20px;
  border-radius: 4px;
}
